alabaster==0.7.6
alembic==0.7.7
APScheduler==3.0.3
Babel==2.0
Beaker==1.7.0
behave==1.2.5
certifi==2015.4.28
Chameleon==2.22
colander==1.0
ColanderAlchemy==0.3.3
colorama==0.3.3
crypto==1.4.1
decorator==4.0.2
deform==0.9.9
docutils==0.12
dogpile.cache==0.5.6
dogpile.core==0.4.1
elasticsearch==1.6.0
fs==0.5.2
gunicorn==19.3.0
hiredis==0.2.0
httplib2==0.9.1
humanfriendly==1.33
ipdb==0.8.1
ipython==3.2.1
iso8601==0.1.10
jdcal==1.0
Jinja2==2.8
lxml==3.4.4
Mako==1.0.1
Markdown==2.6.2
MarkupSafe==0.23
mysql-connector-python==1.2.2
Naked==0.1.31
nose==1.3.7
oauth2client==1.4.12
oauthlib==1.0.1
openpyxl==2.2.5
parse==1.6.6
parse-type==0.3.4
passlib==1.6.5
PasteDeploy==1.5.2
peppercorn==0.5
prettytable==0.7.2
psutil==3.1.1
psycopg2==2.6.1
pyasn1==0.1.8
pyasn1-modules==0.0.7
pycparser==2.14
pycrypto==2.6.1
Pygments==2.0.2
PyICU==1.9.2
pyinotify==0.9.6
pyodbc==3.0.10
pyparsing==2.0.3
pyramid==1.5.7
pyramid-beaker==0.8
pyramid-chameleon==0.3
pyramid-debugtoolbar==2.4
pyramid-jinja2==2.5
pyramid-mailer==0.14.1
pyramid-mako==1.0.2
pyramid-redis==0.1.4
pyramid-tm==0.12
python-dateutil==2.4.2
python-gnupg==0.3.7
python-magic==0.4.6
python-slugify==1.1.3
pytz==2015.4
PyYAML==3.11
redis==2.10.3
regex==2015.7.19
repoze.lru==0.6
repoze.sendmail==4.2
requests==2.7.0
requests-oauthlib==0.5.0
rsa==3.2
shellescape==3.4.1
six==1.9.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.8
SQLAlchemy==1.0.8
sqlparse==0.1.16
sqltap==0.3.9
tornado==4.2.1
transaction==1.4.4
translationstring==1.3
tzlocal==1.2
Unidecode==0.4.18
urllib3==1.11
venusian==1.0
waitress==0.8.9
WebOb==1.4.1
Werkzeug==0.10.4
xlrd==0.9.4
yolk3k==0.8.7
zope.component==4.2.2
zope.deprecation==4.1.2
zope.event==4.0.3
zope.interface==4.1.2
zope.sqlalchemy==0.7.6
