/* FONT PATH
 * -------------------------- */
/*
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('#{$pym-font-path}/YanoneKaffeesatz-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('#{$pym-font-path}/YanoneKaffeesatz-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aroania';
  src: url('#{$pym-font-path}/Aroania_R.otf');
}

@media (min-width: 768px) {
  .row { margin-right: 0; margin-left: 0; }
}

/* sticky footer */
html {height: 100%;}
body {height: 100%;}

#page_container {
  min-height: 100%;
  overflow: auto;
}
#page_content {
  /*overflow: auto;*/
  padding-bottom: $footer-height;
}


#page_header_top_row {
  border-bottom: solid 1px lighten($breadcrumb-border-color, 10);
  background-color: $breadcrumb-bg;
  height: 56px;
  vertical-align: top;
}

.page-header {
  margin: 0;
  padding: 8px 0;
  display: inline-block;
  h1 {
    margin: 0;
    font-size: $font-size-h2;
    font-family: "Yanone Kaffeesatz";
    color: #550000;
    letter-spacing: 2px;
  }
}

#logo {
  vertical-align: top;
}
.outer-gutter {
  padding: 0 $grid-gutter-width/2; // simulate bootstrap grid's gutter at outer sides
}



body > footer {
  clear: both;
  height: $footer-height;
  margin-top: -($footer-height);
  position: relative;
  border: solid 1px $breadcrumb-border-color;
  border-bottom: none;
  font-size: 80%;
  @include border-top-radius($border-radius-base);
  color: $breadcrumb-color;
  background-color: $breadcrumb-bg;
  padding-top: 2px;
}


#breadcrumbs {
  border: solid 1px $breadcrumb-border-color;
  border-top: solid 1px white;
  margin-bottom: $grid-gutter-width/3;
  font-size: 90%;
  @include border-bottom-radius($border-radius-base);
  color: $breadcrumb-color;
  background-color: $breadcrumb-bg;
  vertical-align: middle;
  height: $line-height-computed;
  a {
    color: $breadcrumb-color;
    &:hover { color: $breadcrumb-active-color; }
  }
  .inner {
    margin-left: -1px; // border-width of breadcrumbs
  }
  nav {
    display: inline-block;
    padding: 0 1em 0 0;
    margin: 0;
    position: absolute;
    &:hover {
      .menu {display: block;}
    }
    .button {
      line-height: 0px;
      margin: 0;
      padding: 0;
    }
    .menu {
      display: none;
      min-width: 150px;
      font-size: $font-size-base;
      background-color: white;
      border: solid 1px $breadcrumb-border-color;
      @include border-bottom-radius($border-radius-base);
      @include box-shadow(0 6px 12px rgba(0,0,0,.175));
      background-color: white;
      white-space: nowrap;
      z-index: 9998;
      position: relative;
      left: -12px;

      li {
        width: 100%;
        position: relative;
        display: block;
        vertical-align: middle;

        &:hover {
          background-color: $dropdown-link-hover-bg;
        }

        &:hover > ul {
          display: inline-block;
        }

        i { display: inline-block; padding-top: 3px; }
      }
      a {
        width: 100%;
        display: inline-block;
        padding: 3px;

        &:hover { text-decoration: none; color: $dropdown-link-hover-color; }
      }

      ul {
        z-index: 9999;
        margin: 0;
        padding: 4px 8px;
        list-style-position: inside;
        list-style-type: none;
        ul {
          min-width: 150px;
          margin-left: 0px;
          display: none;
          position: absolute;
          left: 132px;
          top: -3px;
          @include border-bottom-radius($border-radius-base);
          @include box-shadow(0 6px 12px rgba(0,0,0,.175));
          background-color: white;
        }
      }
    }
  }
  .crumbs {
    margin-left: 2em;
    display: inline-block;
    ul {
      list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
      float: left;
      margin-left: 0.2em;
      margin-right: 0.2em;
    }
    li.breadcrumb-spacer {
      font-size: 80%;
      padding-top: 2px;
    }
    li:first-child {
      margin-left: 0;
    }
  }
}
}

.disabled > a {
  pointer-events: none;
}

#page_title {
  font-size: 180%;
}

.content-margin-top {
  margin-top: 12px;
}

.imprint h2 { font-size: $font-size-base; font-weight: bold; color: $brand-primary; }

.ccp-red { color: $brand-primary; }


.pym-panel {
  @include border-bottom-radius($border-radius-base);
  @include border-top-radius($border-radius-base);
  background-color:  $breadcrumb-bg;
  padding: 4px;
}

.popup-container { position: relative; }
.popup-container:hover .popup { display: block; }
.popup {
    display: none;
    position: absolute;
    padding: 4px;
    width: 250px;
    border: solid 1px $breadcrumb-border-color;
    text-align: left;
    left: 18px;
    z-index: 10;
    @include border-top-radius($border-radius-base);
    @include border-bottom-radius($border-radius-base);
    @include box-shadow(0 6px 12px rgba(0,0,0,.175));
}
.popup hr {
  margin: 4px;
  border-top: solid 1px $breadcrumb-border-color;
}

.select2-container {
  width: 100%;
}

.page-notes {
  margin-top: 6ex;
  font-size: 90%;
}

/*.grid { font-size: 88%; }*/
.pym-grid-footer {
  display: table-row;
  height: 20px;
  line-height: 90%;
  .rowNumbers, .pageSizeChooser, .page, .spinner, .pym-grid-pagination, .spacer {
    display: table-cell;
    vertical-align: middle;
  }
  .spacer {
    width: $padding-base-horizontal;
  }
  .pym-grid-pagination {
    .pagination {
      margin: 0;
    }
  }
  .pageSizeChooser {
    select {
      padding-top: 2px;
      padding-bottom: 0;
      line-height: $line-height-base;
      height: 28px;
    }
  }
  .page {
    input {
      padding-top: 2px;
      padding-bottom: 0;
      line-height: $line-height-base;
      height: 28px;
      width: 4.5em;
    }
  }
  .spinner {
    padding-left: .5em;
  }
}
.pym-grid-menu-bar {
  margin-bottom: 1ex;
}
  // Links within the dropdown menu
.dropdown-menu > li > .anchor {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
}

// Hover/Focus state
.dropdown-menu > li > .anchor {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $dropdown-link-hover-color;
    background-color: $dropdown-link-hover-bg;
    cursor: pointer;
  }
}



/*
 * ui-tree
 */
.angular-ui-tree {
  white-space: nowrap;

  .drag-handle {
    color: $gray-light;
    font-size: 95%;
  }

  .selected {
      background-color: $nav-link-hover-bg;
      border-color: $link-color;
  }

}
.angular-ui-tree-handle {
    padding: 0;
    font-weight: normal !important;
    color: $text-color;
}
.angular-ui-tree-handle:hover {
    width: 100%;
    color: $link-hover-color;
    background: $dropdown-link-hover-bg;
}
.angular-ui-tree-placeholder {
    background: $dropdown-link-hover-bg;
    outline: 1px dashed $dropdown-link-color;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}
.angular-ui-tree-node, .angular-ui-tree-handle, .angular-ui-tree-placeholder {
  min-height: $line-height-computed !important;
  line-height: $line-height-computed !important;
}


/*
 * flexy-layout
 */
.flexy-layout {
  .block.splitter {
    background: $gray-lighter;
  }
  .block.splitter:hover {
    background: $gray-light;
  }
  .ghost {
    background: $gray-light;
    opacity: 0.5;
  }
}

/*
 * pym.Fs.Uploader
 */
.progress-no-margin { margin: 0; }
.pym-fs-uploader-total-progress { margin-bottom: 0; display: inline-block; }
.pym-fs-uploader {
  margin: $padding-small-vertical 0;
  border-radius: $border-radius-base;
  border: 1px solid $chrome-border-color;
  header {
    padding: $padding-small-vertical $padding-small-horizontal;
    background: $chrome-bg-color;
    border-bottom: 1px solid $chrome-border-color-light;
    display: flex;
    .text {
      vertical-align: middle;
      height: 22px;
      @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
      padding-top: 2px;
    }
    .btn {
      @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
      margin-right: $padding-small-horizontal;
    }
    .progress {
      @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
      margin-bottom: 0;
      height: 22px;
      min-width: 50px;
      width: 250px;
    }
    div {
      margin-right: $padding-small-horizontal;
    }
  }

  .body {
    max-height: 25vh;
    overflow: auto;
    padding: $padding-small-vertical $padding-small-horizontal;
    td { white-space: nowrap; }
  }
}

.pym-navbar {
  top: -10px;
  background: $chrome-bg-color;
  border-color: $chrome-border-color;
  border-top-color: white;
  margin-bottom: 0.5ex;
  .container-fluid { padding: 0; }
}